auto-save-list/
backups/
elpa/
places

projectile-bookmarks.eld
projectile.cache
config.el
recentf

ido.last
.emacs-theme
.mc-lists.el

.org-id-locations
bookmarks
eshell/
gnus.el
custom.el
url/
var/

