auto-save-list/
backups/
elpa/
places

projectile-bookmarks.eld
projectile.cache
recentf

ido.last
.emacs-theme
.mc-lists.el

.org-id-locations
bookmarks
eshell/
gnus.el
custom.el
url/
var/
transient/
cache/

network-security.data
.#recentf
elpa.zip
forge-database.sqlite

session.*
.cache
straight
workspace
org-journal.cache